<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Carrito</title>
</head>
<body>

<h1>Detalles del Carrito</h1>

<div>
  {{#if cart.products.length}}
    <ul>
      {{#each cart.products}}
        <li>
          <h3>{{this.product.title}}</h3>
          <p>Descripción: {{this.product.description}}</p>
          <p>Precio: ${{this.product.price}}</p>
          <p>Cantidad: {{this.quantity}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No hay productos en este carrito.</p>
  {{/if}}
</div>

<a href="/home">Volver a la lista de productos</a>

</body>
</html>


