<h1>Lista de Productos</h1>
<ul>
  {{#each products}}
    <li>
      <strong>ID: {{this.id}}</strong>
      <br>Producto: {{this.title}} - ${{this.price}}
      <br>Descripción: {{this.description}}
      <br>Código: {{this.code}}
      <br>Stock: {{this.stock}}
      <br>Categoría: {{this.category}}
    </li>
  {{/each}}
</ul>


