<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
</head>
<body>

  <h1>Lista de Productos</h1>

  {{#each products}}
    <div>
      <strong>{{this.title}}</strong><br>


      <a href="/products/{{this.id}}">Ver detalles</a><br>


      <form action="/api/carts/{{../cartId}}/products/{{this.id}}" method="POST">

        {{#if ../cartId}}
          <button type="submit">Agregar al Carrito</button>
        {{else}}
          <button type="button" disabled>Carrito no disponible</button>
        {{/if}}
      </form>
    </div>
  {{/each}}


  <br>
  <a href="/carts/{{cartId}}">
    <button>Ver Carrito</button>
  </a>

</body>
</html>





